/* minor reset */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 100vh;

  gap: 100px;

  padding-bottom: 100px;

  background: #242424;
  color: #fff;
}

.box {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  background: #12a6e0;
  border: 1px solid rgb(0, 0, 0);

  font-size: 1.5rem;
  font-weight: 700;

  transition: all 0.2s ease-in-out;
}

.box.freeheight {
  height: auto;
}

.flex-example {
  display: grid;

  grid-template-areas:
    "title title"
    "visuals code"
    "description description";

  width: fit-content;

  gap: 1rem;
}

.visuals {
  grid-area: visuals;

  display: flex;

  padding: 30px;
  width: 500px;

  position: relative;

  background: #ffffff;
  color: black;

  border: 1px solid #000000;
  border-radius: 5px;

  box-shadow: 0 5px 10px rgba(97, 97, 97, 0.5);

  z-index: 1;
}

.title {
  grid-area: title;

  color: white;

  background: none !important;
}

.code {
  grid-area: code;
}

.description {
  grid-area: description;

  color: white;
}

/* a border for the renderable area (i.e a box of the area inside the padding) */
.visuals::after {
  content: "";

  display: block;

  /* calc width and height minus padding */
  width: calc(100% - 60px);
  height: calc(100% - 60px);

  position: absolute;

  border: 1px solid #0000002c;
  border-radius: 5px;

  /*  don't cover up any content */
  pointer-events: none;
}

.CodeMirror {
  border-radius: 5px;

  height: 100% !important;
  width: 500px !important;
}

#table-of-contents {
  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 20px;

  background-color: #444444;

  border: 1px solid #555;
  border-radius: 5px;
}

#toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#toc-list li {
  margin-bottom: 5px;
}

#toc-list a {
  text-decoration: none;
}

#toc-list a:hover {
  text-decoration: underline;
}

#toc-list a {
  color: #ffffff;
}
